{% extends 'base.html'%} {% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <h3>{{category}} sources</h3>
      <ul>
        {% for source_item in category_list %}
        <li><a href="/source/{{source_item.id}}/{{source_item.category}}">{{ source_item.name}}</a></li>
        {% endfor %}


      </ul>

    </div>
    <div class="col-md-10">
      <h1>{{category}} News</h1> {% for source in articles_list %}

      <h3>{{source[0].source}}</h3>
      <div class="row">
        {% for article in source %}
        <div class="col-xs-6 col-md-3 thumbnail">
          <a href={{article.url}} target="_blank" class="">
            <!-- <img src={{article.image}} alt="image here"> -->
            <h5>{{article.title|truncate(45)}}</h5>
          </a>
          <p>{{article.description|truncate(50)}}</p>
          <p>{{article.date}}</p>
        </div>
        {% endfor %}
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endblock %}
