{% extends 'base.html'%} {% block content %}

<div class="container">
  <ul class="nav navbar-nav">


    <li><a href="#">technology</a></li>
    <li><a href="#">general</a></li>
    <li><a href="#">business</a></li>
    <li><a href="#">sports</a></li>


  </ul>

</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <h3>{{category}} sources</h3>
      <ul>
        {% for source_item in category_list %}
        <li><a href="/source/{{source_item.id}}/{{source_item.category}}">{{ source_item.name}}</a></li>
        {% endfor %}


      </ul>

    </div>
    <div class="col-md-10">

      <h1>{{category}} News</h1>
      <h3>{{category_list[0].name}}</h3>
      <div class="row">
        {% for article in row_one %}
        <div class="col-xs-6 col-md-3 thumbnail">
          <a href={{article.url}} target="_blank" class="">
            <!-- <img src={{article.image}} alt="image here"> -->
            <h5>{{article.title|truncate(45)}}</h5>
          </a>
          <p>{{article.description|truncate(50)}}</p>
          <p>{{article.date}}</p>
        </div>
        {% endfor %}
      </div>
      <h3>{{category_list[1].name}}</h3>

      <div class="row">
        {% for article in row_two %}
        <div class="col-xs-6 col-md-3 thumbnail">
          <a href={{article.url}} target="_blank" class="">
            <!-- <img src={{article.image}} alt="image here"> -->
            <h5>{{article.title|truncate(45)}}</h5>
          </a>
          <p>{{article.description|truncate(50)}}</p>
          <p>{{article.date}}</p>
        </div>
        {% endfor %}
      </div>
      <h3>{{category_list[2].name}}</h3>

      <div class="row">
        {% for article in row_three %}
        <div class="col-xs-6 col-md-3 thumbnail">
          <a href={{article.url}} target="_blank" class="">
            <!-- <img src={{article.image}} alt="image here"> -->
            <h5>{{article.title|truncate(45)}}</h5>
          </a>
          <p>{{article.description|truncate(50)}}</p>
          <p>{{article.date}}</p>
        </div>
        {% endfor %}
      </div>
      <h3>{{category_list[3].name}}</h3>

      <div class="row">
        {% for article in row_four %}
        <div class="col-xs-6 col-md-3 thumbnail">
          <a href={{article.url}} target="_blank" class="">
            <!-- <img src={{article.image}} alt="image here"> -->
            <h5>{{article.title|truncate(45)}}</h5>
          </a>
          <p>{{article.description|truncate(50)}}</p>
          <p>{{article.date}}</p>
        </div>
        {% endfor %}
      </div>



    </div>
  </div>
</div>
{% endblock %}
