<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8"> {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>welcome to quick news</title>
  {% endif %}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <h1>quick news</h1>
    </div>
  </nav>
  <div class="container">
    <ul class="nav navbar-nav">


      <li><a href="#">technology</a></li>
      <li><a href="#">general</a></li>
      <li><a href="#">business</a></li>
      <li><a href="#">sports</a></li>


    </ul>

  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <h3>top sources</h3>
        <ul>
          {% for source_item in sources %}
          <li>{{ source_item.name}}</li>
          {% endfor %}

          <li><a href="#">bbc</a></li>
          <li><a href="#">aljazeera</a></li>
          <li><a href="#">ktn</a></li>
          <li><a href="#">techcrunch</a></li>
          <li><a href="#">sports</a></li>

        </ul>

      </div>
      <div class="col-md-10">

        <h1>LAtest News</h1>
        <h3>CNN</h3>
        <div class="row">
          {% for article in cnn %}
          <div class="col-xs-6 col-md-3 thumbnail">
            <a href="#" class="">
              <img src={{article.image}} alt="image here">
              <h5>{{article.title}}</h5>
            </a>
            <p>{{article.description}}</p>
            <p>{{article.date}}</p>
          </div>
          {% endfor %}
          <div class="col-xs-6 col-md-3 thumbnail">
            <a href="#" class="">
              <img src="https://ichef-1.bbci.co.uk/news/1024/cpsprodpb/13021/production/_98375877_395bd7be-5b26-4417-8b53-aaf346a7b177.jpg" alt="">
              <h5>Spain deadline...</h5>
            </a>
            <p>The AP delivers in-depth coverage on the international, politics, lifestyle, business, and entertainment news.</p>
            <p>2017-10-19T06:36:23Z</p>
          </div>
          <div class="col-xs-6 col-md-3 thumbnail">
            <a href="#" class="">
              <img src="https://ichef-1.bbci.co.uk/news/1024/cpsprodpb/13021/production/_98375877_395bd7be-5b26-4417-8b53-aaf346a7b177.jpg" alt="">
              <h5>Spain deadline...</h5>
            </a>
            <p>The AP delivers in-depth coverage on the international, politics, lifestyle, business, and entertainment news.</p>
            <p>2017-10-19T06:36:23Z</p>
          </div>
          <div class="col-xs-6 col-md-3 thumbnail">
            <a href="#" class="">
              <img src="https://ichef-1.bbci.co.uk/news/1024/cpsprodpb/13021/production/_98375877_395bd7be-5b26-4417-8b53-aaf346a7b177.jpg" alt="">
              <h5>Spain deadline...</h5>
            </a>
            <p>The AP delivers in-depth coverage on the international, politics, lifestyle, business, and entertainment news.</p>
            <p>2017-10-19T06:36:23Z</p>
          </div>
        </div>
        <h2>Aljazeera</h2>
        <div class="row">
          <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
              <h5>Spain deadline...</h5>
              <img src="https://ichef-1.bbci.co.uk/news/1024/cpsprodpb/13021/production/_98375877_395bd7be-5b26-4417-8b53-aaf346a7b177.jpg" alt="">
            </a>
          </div>
          <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
              <h5>Spain deadline...</h5>
              <img src="https://ichef-1.bbci.co.uk/news/1024/cpsprodpb/13021/production/_98375877_395bd7be-5b26-4417-8b53-aaf346a7b177.jpg" alt="">
            </a>
          </div>
          <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
              <h5>Spain deadline...</h5>
              <img src="https://ichef-1.bbci.co.uk/news/1024/cpsprodpb/13021/production/_98375877_395bd7be-5b26-4417-8b53-aaf346a7b177.jpg" alt="">
            </a>
          </div>
          <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
              <h5>Spain deadline...</h5>
              <img src="https://ichef-1.bbci.co.uk/news/1024/cpsprodpb/13021/production/_98375877_395bd7be-5b26-4417-8b53-aaf346a7b177.jpg" alt="">
            </a>
          </div>
        </div>
        <h2>techcrunch</h2>
        <div class="row">
          <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
              <h5>Spain deadline...</h5>
              <img src="https://ichef-1.bbci.co.uk/news/1024/cpsprodpb/13021/production/_98375877_395bd7be-5b26-4417-8b53-aaf346a7b177.jpg" alt="">
            </a>
          </div>
          <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
              <h5>Spain deadline...</h5>
              <img src="https://ichef-1.bbci.co.uk/news/1024/cpsprodpb/13021/production/_98375877_395bd7be-5b26-4417-8b53-aaf346a7b177.jpg" alt="">
            </a>
          </div>
          <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
              <h5>Spain deadline...</h5>
              <img src="https://ichef-1.bbci.co.uk/news/1024/cpsprodpb/13021/production/_98375877_395bd7be-5b26-4417-8b53-aaf346a7b177.jpg" alt="">
            </a>
          </div>
          <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
              <h5>Spain deadline...</h5>
              <img src="https://ichef-1.bbci.co.uk/news/1024/cpsprodpb/13021/production/_98375877_395bd7be-5b26-4417-8b53-aaf346a7b177.jpg" alt="">
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>

</body>

</html>
