{% extends 'base.html'%} {% block content %}

<div class="container">
  <ul class="nav navbar-nav">


    <li><a href="#">technology</a></li>
    <li><a href="#">general</a></li>
    <li><a href="#">business</a></li>
    <li><a href="#">sports</a></li>


  </ul>

</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <h3>top sources</h3>
      <ul>
        {% for source_item in sources %}
        <li>{{ source_item.name}}</li>
        {% endfor %}

        <li><a href="#">bbc</a></li>
        <li><a href="#">aljazeera</a></li>
        <li><a href="#">ktn</a></li>
        <li><a href="#">techcrunch</a></li>
        <li><a href="#">sports</a></li>

      </ul>

    </div>
    <div class="col-md-10">

      <h1>LAtest News</h1>
      <h3>CNN</h3>
      <div class="row">
        {% for article in cnn %}
        <div class="col-xs-6 col-md-3 thumbnail">
          <a href={{article.url}} class="">
              <img src={{article.image}} alt="image here">
              <h5>{{article.title|truncate(45)}}</h5>
            </a>
          <p>{{article.description|truncate(50)}}</p>
          <p>{{article.date}}</p>
        </div>
        {% endfor %}
      </div>

      <h3>BBC SPORTS</h3>
      <div class="row">
        {% for article in bbc_sport %}
        <div class="col-xs-6 col-md-3 thumbnail">
          <a href={{article.url}} class="">
              <img src={{article.image}} alt="image here">
              <h5>{{article.title|truncate(45)}}</h5>
            </a>
          <p>{{article.description|truncate(50)}}</p>
          <p>{{article.date}}</p>
        </div>
        {% endfor %}
      </div>

      <h3>TechCrunch</h3>
      <div class="row">
        {% for article in techcrunch %}
        <div class="col-xs-6 col-md-3 thumbnail">
          <a href={{article.url}} class="">
              <img src={{article.image}} alt="image here">
              <h5>{{article.title|truncate(45)}}</h5>
            </a>
          <p>{{article.description|truncate(50)}}</p>
          <p>{{article.date}}</p>
        </div>
        {% endfor %}
      </div>

    </div>
  </div>
</div>
{% endblock %}
