{% extends 'base.html' %} {% block content %}
<div class="container">
  <ul class="nav navbar-nav">


    <li><a href="#">technology</a></li>
    <li><a href="#">general</a></li>
    <li><a href="#">business</a></li>
    <li><a href="#">sports</a></li>
    <li><a href="#">{{id}}</a></li>


  </ul>

</div>

<div class="container-fluid">

  <div class="row">
    <div class="col-md-2">
      <h3>{{category}}</h3>
      <ul>
        {% for source_item in category_list %}
        <li><a href="/source/{{source_item.id}}/{{source_item.category}}">{{ source_item.name}}</a></li>
        {% endfor %}


      </ul>


      </ul>

    </div>
    <div class="col-md-10">
      <h1>{{source_id}}</h1> {% for source_item in source %}
      <h5><a href="/source/{{source_item.id}}">{{ source_item.name}}</a></h5>
      <div class="row thumbnail">
        <div class="col-md-9">
          <div class="article">
            <a href="{{source_url}}" target="_blank">
              <h5><strong>{{source_item.title}}</strong></h5></a>
            <p>{{source_item.description}}</p>
            <p>2017-10-19T15:01:01Z</p>


          </div>
        </div>
        <div class="col-md-3">
          <div class="thumbnail">

            <img src="{{source_item.image}}" alt="">
          </div>

        </div>
      </div>


      {% endfor %}
      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li>
            <a href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
          </li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li>
            <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>


</div>

{% endblock %}
